{% load static %}
<!DOCTYPE html>
<html>
<head>
    <title>{% block titulo %}{% endblock %}</title>
    <link rel="shortcut icon" type="image/png" href="{% static 'media/favicon.ico' %}" >
    <link rel="stylesheet" href="{% static 'css/style.css' %}" type="text/css">
    <!--script type="javascript" src="{% static 'js/script.js' %}"></script-->
</head>
<body>
    <div id="barra">
        <ul><a href="/">Início</a></ul>
        <ul><a href="/consoles">Consoles</a></ul>
    </div>
    <nav>
    {% block conteudo %}{% endblock %}
    </nav>
    <footer>
        Instituto Federal de Brasília - 2023
    </footer>
</body>
</html>