{% extends "master.html" %}

{% block titulo %}
Contato | Ghost Comics
{% endblock %}

{% block conteudo %}
<h1>Contato</h1>
<p>
    Email: ewerton.ramos@estudante.ifb.edu.br<br>
    GitHub: @KaiXtr<br>
    LinkedIn: @bramosewerton<br>
</p>
<!--form id="contact-form">
    <label for="name">Nome:</label>
    <input id="name" type="text" name="name" placeholder="fulano@mail.com"><br>
    <label for="subject">Assunto:</label>
    <input id="subject" type="text" name="subject" placeholder="Assunto"><br>
    <label for="body">Corpo:</label>
    <textarea id="body" name="body">
    </textarea><br>
    <input class="form-button" type="submit" value="Enviar">
</form-->
{% endblock %}