{% extends "master.html" %}

{% block titulo %}
Gibis | Ghost Comics
{% endblock %}

{% block conteudo %}

{% if gibis %}
    <div id="gibis-container">
        {% for i in gibis %}
        <a href="{% url 'gibi_detail' i.pk %}">
            <div class="gibi-card" style="animation-delay: 0.{{forloop.counter}}s">
                <img src="{{i.photo.url}}" alt="{{i.name}}" title="{{i.name}}">
                <h2>{{i.name}}</h2>
                {{i.genre}} - {{i.company}} - {{i.year}}<br>
                R$ {{i.price}}
            </div>
        </a>
    {% endfor %}
    </div>
{% else %}
    <h2>Ué?</h2>
    <p>Parece que não há nenhum gibi disponível para venda...</p>
    <p>Que tal adicionarmos <a href="/addgibi/">um novo gibi?</a></p>
{% endif %}
{% endblock %}