{% extends "master.html" %}

{% block titulo %}
Ghost Comics
{% endblock %}

{% block banner %}
<div id="banner" style="background-image: url('/media/banner.png')">
</div>
{% endblock %}

{% block conteudo %}

{% if gibis %}
    <div id="gibis-container">
        {% for i in gibis %}
        <a href="{% url 'gibi_detail' i.pk %}">
            <div class="gibi-card" style="animation-delay: 0.{{forloop.counter}}s">
                <img src="{{i.photo.url}}" alt="{{i.name}}" title="{{i.name}}">
                <h2>{{i.name}}</h2>
                {{i.authors}}<br>
                {{i.genre}} - {{i.company}} - {{i.year}}<br>
                <span class="gibi-price">R$ {{i.price}}</a>
            </div>
        </a>
    {% endfor %}
    </div>
{% else %}
    <h2>Ué?</h2>
    <p>Parece que não há nenhum gibi disponível para venda...</p>
    <p>Que tal adicionarmos <span class="link"><a href="{% url 'gibi_add' %}">um novo gibi?</a></span></p>
{% endif %}

{% endblock %}